<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CourierLogistics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <CourierLogistics.Properties.Settings>
            <setting name="ShopsFile" serializeAs="String">
                <value>shops.csv</value>
            </setting>
            <setting name="OrdersFile" serializeAs="String">
                <value>orders.csv</value>
            </setting>
            <setting name="shopDeliveryTypesFile" serializeAs="String">
                <value>shopDeliveryTypes.csv</value>
            </setting>
        </CourierLogistics.Properties.Settings>
    </userSettings>
</configuration>