<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoveApplicationToServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <MoveApplicationToServer.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>srv-sql15</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>logisticservice59</value>
            </setting>
            <setting name="ServerFolder" serializeAs="String">
                <value>C:\LogisticsService\</value>
            </setting>
        </MoveApplicationToServer.Properties.Settings>
    </userSettings>
</configuration>